@charset "UTF-8";


.container {
    height: auto;
}

.content {
    flex-flow: column nowrap;
}

.content article {
    margin-bottom: 15px;
}

img {
    max-height: 350px;
    object-fit: cover;
    object-position: center center;
}

footer {
    position: relative;
    margin-top: 15px;
}